<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Login</title>

  </head>
  <body>
    <div class="login hide-login">
      <form
        class="login-container hide-form"
        action="login"
        method="POST"
        autocomplete="off"
      >
        <img
          src="https://up.yimg.com/ib/th?id=OIP.k7dE2dftQijg3KbpTyIObAHaHa&%3Bpid=Api&rs=1&c=1&qlt=95&w=120&h=120"
          alt=""
        />
        <div class="input-container hide-section">
          <p><input type="email" placeholder="Email" name="email" /></p>
          <p>
            <input type="password" placeholder="Password" name="password" />
          </p>
          <p><input type="submit" value="Log in" /></p>
        </div>
      </form>
    </div>

    <script src="./sscript.js"></script>
    <script src="./validate.js"></script>
  </body>
</html>